body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
  }
  
  .background {
    background:
      linear-gradient(rgba(240, 240, 240, 0.6), rgba(240, 240, 240, 0.99)),
      url("image/background.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }
  
  .background::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url('/image/background.png') no-repeat center center/cover;
    opacity: 0.4;
    z-index: -1;
  }
  
  .welcome-container {
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    max-width: 1100px;
    width: 90%;
    height: auto;
    z-index: 1;
  }
  
  .welcome-left-panel {
    flex: 1;
    max-width: 50%;
  }
  
  .welcome-left-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .welcome-right-panel {
    flex: 1;
    padding: 50px 40px;
    background-color: #FBF5DD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .welcome-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .welcome-text h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: left;
  }
  
  .welcome-text p {
    font-size: 18px;
    margin: 0;
    color: #333;
    text-align: left;
  }
  
  .username {
    color: #1A5B6B;
  }
  
  .welcome-btn {
    align-self: center;
    padding: none;
    font-weight: 600;
    font-size: 24px;
    border-radius: 8px;
    background-color: #16404D;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;
    width: 284px;
    height: 70px;
    line-height: 23px;
    padding-top: 10px;
  }
  
  
  .welcome-btn:hover {
    background-color: #12363f;
  }
  header {
    background-color: #9cd0c0c5;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .nav-icons a {
    color: inherit;
    text-decoration: none;
  }
  .nav-icons a:hover {
    color: inherit;
  }
  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logo {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    line-height: 0.6;
  }
  .logo-top {
    display: block;
    font-weight: 600;
    justify-content: left;
    align-items: left;
  }
  .logo-bottom {
    display: block;
    font-weight: 800;
    justify-content: left;
    align-items: left;
  }
  .menu-btn,
  .close-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  .nav-icons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 5px;
  }
  /* Sidebar */
  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #dcd6f7;
    transition: 0.3s;
    padding-top: 2rem;
  }
  .sidebar ul {
    list-style: none;
    padding: 1rem;
  }
  .sidebar ul li {
    padding: 10px;
  }
  .sidebar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
  }
  .sidebar.active {
    left: 0;
    z-index: 100;

  }
